@import './_markdown.scss';
@import './_vuebar';

* {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: rgb(11, 93, 107);
  background-image: radial-gradient(#2b414f, #20313a);
  color: #fff;
}

main.main-container {
  position: relative;
  overflow: hidden;
  // height: 100%;
  // padding: 15px;

  background-color: rgb(11, 93, 107);
  background-image: radial-gradient(#2b414f, #20313a);

  transition: all 500ms linear;

  .template & {
    $color: #1b2b35;
    background-color: $color;
    background-image: radial-gradient($color, darken($color, 10));
  }

  .canvas & {
    $color: #3d243d;
    background-color: $color;
    background-image: radial-gradient($color, darken($color, 10));
  }

  .webgl & {
    $color: #013508;
    background-color: $color;
    background-image: radial-gradient($color, darken($color, 10));
  }
}

.gpu {
  transform: translateZ(0);
  will-change: scroll-position;
}

.fill {
  position: relative;
  width: 100%;
  height: 100%;
}
